# my ignores
data/images
.venv/

# Ignore all checkpoint and model save files
checkpoints/
*.pth
*.pt
*.pkl
*.h5
*.keras
*.onnx
*.pb


# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db